
.header-content{
  background-color: #fff;
  padding: 0 15px;
  height:200px;
  }
.horizontal-menu{
    align-items: center;
    border-radius:9%;    
    padding: 0;
    margin-bottom: 2px;
    list-style: none;
    display:flex; 
    justify-content:flex-end;
    height: 100px;
  }

.horizontal-menu li{
    list-style: none;
    text-decoration: none;
  }

.horizontal-menu li a {
  text-decoration: none;
  color: white;
}

header.header a:hover {
    color:black;
    width: 100%;
    padding: 10px;
    border-radius: 5%;
  }
.btn{
 border: none;
}
.subnav li{
  padding: 10px;
}


#dropdownmenu #items:hover .subnav,
#dropdownmenu #supportitems:hover .subnav-support {
  display: block;

}
.supportitems,
.subnav-support,
.subnav {
  display: none;/* Initially hide the subnav */
  position:fixed;
  width:fit-content;
  border-radius: 5%;
  list-style: none;
  background:rgb(245,85, 44);
  padding: 10px;

}
